.header {
  margin-bottom: 12px;

  .container {
    border-bottom: 1px solid #000;
  }

  &__logo {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
  }
}

//----------------------------------------
//  HAMBURGER ICON
//----------------------------------------

.burger {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
  border-radius: 50%;
  margin-right: -16px;
  // background: beige;

  .burger__icon {
    width: 24px;
    height: 20px;
    overflow: hidden;
    display: block;
  }

  &__icon-lines,
  &__icon-lines-copy {
    display: block;
  }

  &__icon-lines span,
  &__icon-lines-copy span {
    height: 2px;
    display: block;
    margin-top: 7px;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
  }

  &__icon-lines span {
    width: 200%;
    margin-left: -100%;
    transition: 0.3s;
    background: linear-gradient(
      to right,
      $red 0%,
      $red 50%,
      $black 50%,
      $black 100%
    );
    transition-delay: 0.4s;
  }

  &__icon-lines-copy {
    margin-top: -20px;
  }

  &__icon-lines-copy span {
    transition: 0.3s;
    background: $black;

    // &:nth-child(1) {
    //   transition-delay: 0.1s;
    // }
    // &:nth-child(2) {
    //   transition-delay: 0.2s;
    // }
    // &:nth-child(3) {
    //   transition-delay: 0.3s;
    // }
  }

  &:hover {
    .burger__icon-lines span {
      margin-left: 0%;
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
    }
    .burger__icon-lines-copy span {
      margin-left: -24px;
      // transition: none;
    }
  }
}

//----------------------------------------
//  BTN PROJECTS
//----------------------------------------

.project__btn {
  margin-right: 140px;
  font-weight: 500;
  font-size: 15px;
  color: $black_light;
  cursor: pointer;
  position: relative;

  // ------- BTN HOVER STATE -------- //

  // Transtions variables
  $n: 15;
  $delay: 0.03s;

  &:hover {
    .project__btn-text span {
      transform: translateY(-110%);

      @for $i from 1 through $n {
        $in: $delay * ($i - 1);
        &:nth-child(#{$i}) {
          transition-delay: #{$in};
        }
      }
    }

    .project__btn-square span {
      &:nth-child(1) {
        left: 100%;
        transform: translateX(-100%);
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        top: 100%;
        transform: translateY(-100%);
      }

      &:nth-child(3) {
        right: 100%;
        transform: translateX(100%);
      }

      &:nth-child(4) {
        transform: translateY(100%);
        bottom: 100%;
      }
    }
  }

  .project__btn-text {
    overflow: hidden;
    color: #333;
    font-weight: 500;
    display: flex;
    height: 100%;
    align-items: center;

    span {
      margin-right: 1px;
      transition: 0.3s;
      text-shadow: 0 20px 0 #333333;

      @for $i from 1 through $n {
        $out: $delay * ($n - $i);
        &:nth-child(#{$i}) {
          transition-delay: #{$out};
        }
      }
    }

    .spacing:not(:first-child) {
      margin-left: 4px;
    }
  }

  .project__btn-square {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    position: relative;
  }

  .project__btn-square span {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: $black;
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
    }
    &:nth-child(3) {
      right: 0;
      bottom: 0;
    }
    &:nth-child(4) {
      bottom: 0;
      left: 0;
    }
  }
}

section {
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(to left, #ed8f20, #ebd626);
  margin: 0;
  padding: 50px;
}

.container {
  display: flex;
}

.qoutewrapper {
  font-family: "Liu Jian Mao Cao", cursive, sans-serif;
  width: 900px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
  display: flex;
}

.qoutewrapper h1 {
  white-space: nowrap;
  font-weight: 700;
  font-size: 70px;
  margin: 0 auto;
  position: relative;
  left: 90px;
  margin-top: 50px;
}

h2 {
  font-family: "Liu Jian Mao Cao", cursive, sans-serif;
  font-size: 2em;
  position: absolute;
  left: 90%;
  color: red;
  float: right;
}

.container button {
  color: rgba(26, 25, 25, 0.897) !important;
  text-transform: uppercase;
  background: none;
  padding: 12px;
  border: 2px dotted rgba(26, 25, 25, 0.897) !important;
  font-weight: 800;
  float: right;
  margin-top: 160px;
  z-index: 999;
  position: relative;
}

.container button:hover {
  color: #ebd626 !important;
  background: rgba(26, 25, 25, 0.897);
  border-color: none !important;
  transition: all 0.4s ease 0s;
  display: flex;
}

.overlaycontainer {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  display: flex;

  // position: absolute;
  // left: 0;
  // top: 0;
}
